// SCSS Tools Import
@import '../../../styles/functions/index.scss';
// SCSS Module Configuration Variables
// SCSS Module for Page
.langs
{
}
.lang
{
    cursor: pointer;
}
.lang_caret
{
    margin: 0 5px;
}
.lang_active
{
    font-weight: bold;
    border-bottom: 1px solid var(--theme-on-primary,#fff);
}
